.woocommerce-billing-fields {
	font-family: azo-sans-web, serif;

	.form-row {

		label {
			color: $yellow;
			text-transform: uppercase;
			letter-spacing: 0.063rem;
			font-weight: 500;
			font-size: 0.75rem;
			margin-bottom: 0.5rem;
		}

		input {
			border-radius: 0.188rem;
			background-color: fade($black, 10%);
			border-color: none;
			box-shadow: none;
			font-size: 0.75rem;
		}

		.woocommerce-input-wrapper {
			select {

				option {

				}
			}
		}
	}
}