@import "select-menu";

.woocommerce-billing-fields {
	font-family: azo-sans-web, serif;
	font-size: 0.875rem;

	.woocommerce-billing-fields__field-wrapper {

		.form-row {

			label {
				color: $yellow-dark;
				text-transform: uppercase;
				letter-spacing: 0.063rem;
			}

			input[type=text], input[type=tel], input[type=email] {
				border-radius: 0.188rem;
				background-color: $gray-light;
				border-color: unset;
				box-shadow: unset;
				padding: 0.5rem 1rem;
				color: $black;
				font-family: azo-sans-web, serif;
				font-size: 0.875rem;
			}	
		}
	}
}

label .required {
	border: none;
	text-decoration: none;
	color: $yellow-dark;
}