#wrapper-navbar {
	padding-top: 1.875rem;
}

.navbar-toggler {
	display: none;
}

.brand {
	&__container {
		height: 3.75rem;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.5rem;
	}
	
	&__link {
		font-family: azo-sans-web, serif;
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		
		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
	
	&__logo {
		display: unset;
		height: 100%;
	}
	
	&__title {
		margin-left: 2.25rem;
		height: 3.75rem;
		position: relative;

		@include mq($until: small2) {
			top: -3.1rem;
		}
		@include mq(small2) {
			top: -1.3rem;
			margin-left: 1rem;
		}
		@include mq(medium) {
			margin-left: 2.25rem;
			
		}
		@include mq(xlarge) {
			margin-left: 1rem;
			top: -1.3rem;
		}

		&--white {
			color: $white;
			top: -1.3rem;
		}
	}
}

.nav {
	&bar {
		.container {
			display: flex;

			.storefront-primary-navigation {
				display: flex;
				margin-left: auto;
			}

			.col-full {
				display: flex;
				padding-right: 0;
				@include mq(small) {
					margin-right: 0;
					align-items: center;
				}

				.menu-toggle {
					@include mq(0) {
						display: initial;
						border-style: none;
						background-color: unset;
						color: $black;

						&:before, span:before, &:after {
							color: $black;
						}
					}
					@include mq(1200) {
						display: none;
					}
				}

				.primary-navigation {
					@include mq(0) {
						display: none;
					}
					@include mq(1200) {
						display: initial;
					}
				}
		
				.handheld-navigation {
					@include mq(0) {
						display: initial;
						position: absolute;
						top: 5.625rem;
						left: 0;
						right: 0;
						background-color: $yellow;
						z-index: 1;

						ul {
							display: flex;
							flex-direction: column;

							li {
								a {
									font-weight: bold;
									text-align: center;
									padding: 1rem 0;
								}
							}
						}
					}
					@include mq(1200) {
						display: none;
					}
				}

				ul {
					@include mq(0) {
						text-align: center;
					}
					@include mq(xlarge) {
						display: flex;
						height: 3.75rem;
						list-style: none;
						align-items: center;
						margin: 0 2rem 0 auto;
						width: fit-content;
					}

					li {
						@include mq(xlarge) {
							margin-left: 0.4rem;
						}

						&:last-of-type {
							@include mq(xlarge) {
								padding-left: 0.4rem;
							}
						}

						a {
							@include mq(0) {
								color: $black;
								font-size: 1.2rem;
							}
							@include mq(xlarge) {
								display: flex;
								color: $black;
								font-family: azo-sans-web, sans-serif;
								font-weight: 500;
								font-size: 1.125rem;
								padding: 0.4rem;
							}

							.amount {
								font-size: 1rem;
							}
							&:hover{
								color: $yellow-darker;
							}
						}

						&.current-menu-item{
							a{
								color: $yellow-darker-x;
							}
						}
					}
				}
			}
		}
	}

	&-item {
		margin-left: 1.25rem;

		.nav-link:before {
			width: 1.125rem;
			height: 1.125rem;
			display: inline-flex;
		}
	}

	&-link {
		color: $black;
		font-family: azo-sans-web, sans-serif;
		font-size: 1.125rem;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			color: $black;
		}
	}

	
}

@media (min-width: 768px) {
	.col-full .site-header-cart .cart-contents .count {
    	font-weight: 400;
    	opacity: 1;
    	font-size: .675em;
	}
}

.count {
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background-color: $orange;
	color: $black;
	text-align: center;
	line-height: 18px;
	position: relative;
	left: 35px;
	bottom: 7px;
}

#menu-item-29 > a, #menu-item-30 > a {
	background-size: contain;
	background-repeat: no-repeat;
	width: 1.125rem;
	height: 1.125rem;
	display: block;
	text-indent: -1000%;
	overflow: hidden;
}

#menu-item-29 > a {
	background-image: url("./../../images/assets/facebook_logo.svg");
}

#menu-item-30 > a {
	background-image: url("./../../images/assets/instagram_logo.svg");
}

.site-header-cart .cart-contents:after {
	position: relative;
	bottom: 3px;
}

.site-header-cart.menu {
	@include mq(0) {
		display: none;
	}
	@include mq(xlarge) {
		display: initial;
	}
}