#wrapper-navbar {
	padding-top: 1.875rem;
}

.navbar-toggler {
	display: none;
}

.brand {
	&__container {
		height: 3.75rem;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.5rem;
	}
	
	&__link {
		font-family: azo-sans-web, serif;
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		
		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
	
	&__logo {
		display: unset;
		height: 100%;
	}
	
	&__title {
		margin-left: 2.25rem;
		height: 3.75rem;
		position: relative;
    	top: -1.3rem;

		&--white {
			color: $white;
			top: -1.3rem;
		}
	}
}

.col-full {
	display: flex;
}

.nav {
	&bar {
		.container {
			display: flex;

			div {
				ul {
					display: flex;
					height: 3.75rem;
					list-style: none;
					align-items: center;
					margin: 0 2rem 0 auto;
					width: fit-content;

					li {
						margin-left: 0.4rem;

						&:last-of-type {
							padding-left: 0.4rem;
						}

						a {
							display: flex;
							color: $black;
							font-family: azo-sans-web, sans-serif;
							font-weight: 500;
							font-size: 1.125rem;
							padding: 0.4rem;

							.amount {
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
	}

	&-item {
		margin-left: 1.25rem;

		.nav-link:before {
			width: 1.125rem;
			height: 1.125rem;
			display: inline-flex;
		}
	}

	&-link {
		color: $black;
		font-family: azo-sans-web, sans-serif;
		font-size: 1.125rem;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			color: $black;
		}
	}

	
}

@media (min-width: 768px) {
	.col-full .site-header-cart .cart-contents .count {
    	font-weight: 400;
    	opacity: 1;
    	font-size: .675em;
	}
}

.count {
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background-color: $orange;
	color: $black;
	text-align: center;
	line-height: 18px;
	position: relative;
	left: 35px;
	bottom: 3px;
}

#menu-item-29 > a, #menu-item-30 > a {
	background-size: contain;
	background-repeat: no-repeat;
	width: 1.125rem;
	height: 1.125rem;
	display: block;
	text-indent: -1000%;
	overflow: hidden;
}

#menu-item-29 > a {
	background-image: url("./../../images/assets/facebook_logo.svg");
}

#menu-item-30 > a {
	background-image: url("./../../images/assets/instagram_logo.svg");
}