/* The container must be positioned relative: */
#billing_country_field {
	position: relative;
	font-family: Arial;
}

#billing_country_field select {
	display: none; /*hide original SELECT element: */
}

div.select-selected {
	background-color: $gray-light;
    border-radius: 0.188rem;
    border: unset;
    color: $black;
    font-family: azo-sans-web, serif;
}

/* Style the arrow inside the select element: */
div.select-selected:after {
	position: absolute;
	content: "";
	top: 39px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #000000 transparent transparent transparent;
}

.select-selected.select-arrow-active {
    border-radius: 0.188rem 0.188rem 0 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #000000 transparent;
	top: 34px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
	color: $black;
    font-family: azo-sans-web, serif;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: $gray-light;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
    max-height: 25rem;
    overflow-y: scroll;
    border-radius: 0 0 0.188rem 0.188rem;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}