// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$black: #000000;

$yellow: #FCCB66;
$primary: $yellow;
$yellow-light: #F7CA6F;
$yellow-dark: #F5B42C;
$yellow-darker: #7E5500;

$orange: #F5824F;
$gray: #DDD4D4;
$gray-dark: #C7C7C7;
$gray-light: #EEEEEE;
$white: white;