html {
	font-size: 16px;
}

.col {
	&-3 {
		@include mq(medium) {
			display: flex;
		}
	}
}

body {
	background: url('./../images/photo-1588345921523-c2dcdb7f1dcd.jfif') no-repeat center center fixed;
	background-size: cover;
	margin: 0;
}

.yellow {
	background-color: $yellow;
}

.pink {
	background-color: $orange;
}

.gray {
	background-color: $gray;
}

.beige {
	background-color: #fdfdc9;
}

.black {
	background-color: $black;

	h1, h2, h3, h4, h5, h6, a, a:hover {
		color: white;
	}

	p {
		color: rgba(255, 255, 255, 0.8);
	}
}

.price {
	font-family: azo-sans-web, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	color: $black;

	.woocommerce-Price-currencySymbol {
		font-size: 1.25rem;
	}
}

.ingredients-list {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0;

	&__item {
		margin-left: 0.9375rem;

		&:first-child {
	 		margin-left: 0;
	 	}
	}
}

.hide {
	display: none;
}

.dark_mode{
	background: black !important;
	background-image: none !important;

	.button{
		color: white;
	}


	.slick-arrow::before {
		color: white;
	}

	.black {
		background-color: #232323;
	}
}

.sct-wrap {
	margin-top: 7rem;
}

.sct-wrap-bigger {
	margin-top: 12rem;
}

p {
	color: rgba(0, 0, 0, 0.75);
}

.site-main {
	margin-bottom: 0;
}

body .site .entry-content, body .site .entry-title {
	@extend .container;
	text-align: left;
}

body .site .content-area {
	float: none;
}