html {
	font-size: 16px;
}

.col-3 {
	@include mq(medium) {
		display: flex;
	}
}

body {
	background: url('./../images/photo-1588345921523-c2dcdb7f1dcd.jfif') no-repeat center center fixed;
	background-size: cover;
	margin: 0;
}

.yellow {
	background-color: $yellow;
}

.orange {
	background-color: $orange;
}

.gray {
	background-color: $gray;
}

.beige {
	background-color: #fdfdc9;
}

.black {
	background-color: $black;
}

.price {
	font-family: azo-sans-web, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

.ingredients-list {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	width: 60%;

	&__item {
		margin-left: 0.9375rem;

		&:nth-of-type(1) {
			margin-bottom: 0.4375rem;
		}

		&:nth-of-type(5) {
			margin-left: 0;
		}

		&:first-child {
			margin-left: 0;
		}
	}
}

.hide {
	display: none;
}

.dark_mode{
	background: black !important;
	background-image: none !important;
	
	//Button
	.button{
		color: white;
	}


	.slick-arrow::before {
		color: white;
	}

	.black {
		background-color: #232323;
	}
}