.product-list {
	// width: 43.75rem;
	// position: relative;
	margin: 0 auto 0 auto;
	padding-left: 0;
	list-style-type: none;

	@include mq(large) {
		display: flex;
		justify-content: space-between;
	}
	
	&.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	
	.slick-arrow {
		z-index: 11;

		&:before {
			color: black;
			opacity: 1;
		}
	}
	
	.slick-prev {
		left: 5rem;
	}
	
	.slick-next {
		right: 5rem;
	}
	
	.slick-dots {
		top: 26.25rem;
	}
}

.product-link {
	text-decoration: none;
	color: $black;
}

.product-card {
	width: 21.875rem;
	padding-bottom: 0.625rem;
	outline: none;
	
	&__container {
		width: 21.875rem;
		margin-right: auto;
		margin-left: auto;
		padding-top: 1.25rem;
	}
	
	&__wrapper {
		padding: 1.25rem 1.25rem 1.25rem 1.875rem;
		display: flex;
		min-height: 17.1875rem;
		// box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
	}
	
	&__infos {
		width: 70%;
	}
	
	&__date {
		font-family: ivypresto-text, serif;
		font-size: 2.8125rem;
		font-style: italic;
		color: $white;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	&__title {
		font-size: 1.5625rem;
		font-weight: 400;
		margin-top: 1.25rem;
		margin-bottom: 0;
		
		& + h4 {
			font-style: italic;
			margin-top: 0;
		}
	}
	
	&__composition {
		font-family: azo-sans-web, sans-serif;
		font-size: 0.875rem;
		margin-bottom: 1.5rem;
	}
	
	&__image {
		width: 30%;
		margin-bottom: -15%;
		
		img {
			width: 100%;
			position: relative;
			top: 10%;
		}
	}
	
	&.dark {
		color: $white;
	}
}