@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

html {
  font-size: 16px;
}

@media (min-width: 48em) {
  .col-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  background: url("./../images/photo-1588345921523-c2dcdb7f1dcd.jfif") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

.yellow {
  background-color: #FCCB66;
}

.pink {
  background-color: #F5824F;
}

.gray {
  background-color: #DDD4D4;
}

.beige {
  background-color: #fdfdc9;
}

.black {
  background-color: #000000;
}

.black h1, .black h2, .black h3, .black h4, .black h5, .black h6, .black a, .black a:hover {
  color: white;
}

.black p {
  color: rgba(255, 255, 255, 0.8);
}

.price {
  font-family: azo-sans-web, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
}

.price .woocommerce-Price-currencySymbol {
  font-size: 1.25rem;
}

.ingredients-list {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.ingredients-list__item {
  margin-left: 0.9375rem;
}

.ingredients-list__item:first-child {
  margin-left: 0;
}

.hide {
  display: none;
}

.dark_mode {
  background: black !important;
  background-image: none !important;
}

.dark_mode .button {
  color: white;
}

.dark_mode .slick-arrow::before {
  color: white;
}

.dark_mode .black {
  background-color: #232323;
}

.sct-wrap {
  margin-top: 7rem;
}

.sct-wrap-bigger {
  margin-top: 12rem;
}

p {
  color: rgba(0, 0, 0, 0.75);
}

.site-main {
  margin-bottom: 0;
}

body .site .content-area {
  float: none;
}

label .required {
  border: none;
  text-decoration: none;
  color: #FCCB66;
}

.product-selection {
  color: #000000;
}

@media (min-width: 62em) {
  .product-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product-selection__title {
  margin-bottom: 0;
  font-size: 2.5rem;
  color: #000000;
}

@media (min-width: 62em) {
  .product-selection__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.product-selection__link {
  color: #000000;
}

@media (min-width: 62em) {
  .product-selection__link {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.center {
  background-color: #000000;
  padding: 4rem 0 5rem 0;
}

.instagram-slider .container, .instagram-slider body .site .content-area, body .site .instagram-slider .content-area {
  min-height: 30rem;
}

@media (min-width: 62em) {
  .instagram-slider .container, .instagram-slider body .site .content-area, body .site .instagram-slider .content-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 62em) {
  .instagram-slider__left-part {
    width: 40%;
    position: relative;
    padding-right: 3rem;
  }
}

.instagram-slider__title {
  line-height: 3rem;
}

@media (min-width: 62em) {
  .instagram-slider__title {
    font-size: 2.5rem;
  }
}

.instagram-slider__text {
  margin: 0;
}

.instagram-slider__icon-container {
  width: 2rem;
  height: 2rem;
  margin: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.instagram-slider__icon i {
  color: #FCCB66;
  font-size: 1.5rem;
}

.instagram-slider__right-part {
  margin: 2rem -1rem 0 -1rem;
}

@media (min-width: 62em) {
  .instagram-slider__right-part {
    width: 60%;
    margin: 0;
  }
}

.instagram-slider__list {
  list-style-type: none;
  margin: 0;
}

.instagram-slider__list-item {
  height: 100%;
}

.instagram-slider__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.presentation-center {
  background-color: #FCCB66;
  text-align: center;
  padding: 3rem 0;
}

@media (min-width: 62em) {
  .presentation-center__content {
    max-width: 50%;
    margin: 0 auto;
  }
}

.presentation-center__content h3 {
  font-size: 2rem;
  color: #000000;
}

@media (min-width: 62em) {
  .presentation-center__content h3 {
    font-size: 2.5rem;
  }
}

.presentation-center__content p {
  font-size: 0.875rem;
  margin: 0;
}

.presentation-center__content a {
  margin-top: 2rem;
  text-align: left;
}

.home .hero {
  position: relative;
}

.home .hero:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../../images/assets/480-hero.png");
  background-size: cover;
  z-index: 1;
}

@media (min-width: 45em) {
  .home .hero:after {
    background-image: url("./../../images/assets/720-hero.png");
  }
}

@media (min-width: 720px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 720px) and (min-resolution: 192dpi) {
  .home .hero:after {
    background-image: url("./../../images/assets/720@2x-hero.png");
  }
}

@media (min-width: 80em) {
  .home .hero:after {
    background-image: url("./../../images/assets/1080-hero.png");
  }
}

@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi) {
  .home .hero:after {
    background-image: url("./../../images/assets/1080@2X-hero.png");
  }
}

.home .hero > * {
  position: relative;
  z-index: 2;
}

.hero {
  background-color: #F7CA6F;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
}

@media (min-width: 62em) {
  .intro {
    width: 55%;
  }
}

#wrapper-navbar {
  padding-top: 1.875rem;
}

.navbar-toggler {
  display: none;
}

.brand__container {
  height: 3.75rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.brand__link {
  font-family: azo-sans-web, serif;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.brand__link:hover {
  color: #000000;
  text-decoration: none;
}

.brand__logo {
  display: unset;
  height: 100%;
}

.brand__title {
  margin-left: 2.25rem;
  height: 3.75rem;
  position: relative;
  top: -3.1rem;
}

.brand__title--white {
  color: white;
  top: -1.3rem;
}

.col-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container, .navbar body .site .content-area, body .site .navbar .content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container div ul, .navbar body .site .content-area div ul, body .site .navbar .content-area div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.75rem;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navbar .container div ul li, .navbar body .site .content-area div ul li, body .site .navbar .content-area div ul li {
  margin-left: 0.4rem;
}

.navbar .container div ul li:last-of-type, .navbar body .site .content-area div ul li:last-of-type, body .site .navbar .content-area div ul li:last-of-type {
  padding-left: 0.4rem;
}

.navbar .container div ul li a, .navbar body .site .content-area div ul li a, body .site .navbar .content-area div ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  font-family: azo-sans-web, sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0.4rem;
}

.navbar .container div ul li a .amount, .navbar body .site .content-area div ul li a .amount, body .site .navbar .content-area div ul li a .amount {
  font-size: 1rem;
}

.nav-item {
  margin-left: 1.25rem;
}

.nav-item .nav-link:before {
  width: 1.125rem;
  height: 1.125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav-link {
  color: #000000;
  font-family: azo-sans-web, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover {
  color: #000000;
}

@media (min-width: 768px) {
  .col-full .site-header-cart .cart-contents .count {
    font-weight: 400;
    opacity: 1;
    font-size: .675em;
  }
}

.count {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #F5824F;
  color: #000000;
  text-align: center;
  line-height: 18px;
  position: relative;
  left: 35px;
  bottom: 3px;
}

#menu-item-29 > a, #menu-item-30 > a {
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.125rem;
  height: 1.125rem;
  display: block;
  text-indent: -1000%;
  overflow: hidden;
}

#menu-item-29 > a {
  background-image: url("./../../images/assets/facebook_logo.svg");
}

#menu-item-30 > a {
  background-image: url("./../../images/assets/instagram_logo.svg");
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: azo-sans-web, sans-serif;
  font-size: 1.0625rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.0625rem;
  color: #000000;
  height: 3.125rem;
  outline: none;
}

.btn:hover .icon-border {
  border-color: #F5B42C;
}

.btn:hover .icon-border .twin {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.btn:hover .icon-border > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

.btn__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-style: solid;
  border-width: 0.1875rem;
  border-color: #F5B42C;
  border-radius: 12.5rem;
  padding-left: 1.875rem;
  padding-right: 0.9375rem;
  padding-bottom: 2px;
  margin-top: 4.0625rem;
  background-color: unset;
}

.btn__text:hover {
  text-decoration: none;
  color: #000000;
  background-color: unset;
  border-color: #F5B42C;
}

.btn__footer {
  color: white;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9375rem;
  color: #C7C7C7;
  top: -0.0625rem;
}

.btn__footer:hover {
  text-decoration: none;
  color: #C7C7C7;
}

.icon-border {
  width: 1.75rem;
  height: 1.75rem;
  border-style: solid;
  border-width: 0.1875rem;
  border-color: #FCCB66;
  border-radius: 1.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 0.625rem;
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.5s, background-color 0.5s;
  transition: border-color 0.5s, background-color 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  position: relative;
}

.icon-border .icon {
  position: relative;
  bottom: 3.5px;
  left: 0.25rem;
  font-size: 0.875rem;
}

.icon-border .icon--left {
  color: white;
}

.icon-border .icon-phone {
  bottom: 1.5px;
  left: 0.30rem;
}

.icon-border .icon-envelope {
  top: -0.15rem;
  left: 0.2rem;
}

.icon-border--borderless {
  border: none;
  position: relative;
}

.icon-border--borderless .icon {
  bottom: 0;
}

.icon-border--borderless .icon.twin {
  top: 8px;
}

.icon-border--left {
  margin-left: 0;
  margin-right: 0.625rem;
}

.icon-border .twin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

.icon-border .twin--left {
  color: white;
}

.icon-border .twin-phone {
  top: 0.35rem;
  left: 0.3125rem;
}

.icon-border .twin-envelope {
  top: 0.25rem;
  left: 0.2rem;
}

.icon-border > span {
  display: block;
}

.icon-border .twin, .icon-border > span {
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

h2 {
  font-family: ivypresto-headline, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  color: #000000;
}

@media (min-width: 62em) {
  h2 {
    font-size: 3.875rem;
    line-height: 4.6875rem;
  }
}

h2 span {
  color: #7E5500;
}

h3 {
  font-family: ivypresto-headline, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  color: #000000;
}

.container, body .site .content-area {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container:not(.is-fluid), body .site .content-area:not(.is-fluid) {
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .container:not(.is-fluid), body .site .content-area:not(.is-fluid) {
    width: 100%;
    max-width: 570px;
  }
}

@media only screen and (min-width: 900px) {
  .container:not(.is-fluid), body .site .content-area:not(.is-fluid) {
    width: 100%;
    max-width: 860px;
  }
}

@media only screen and (min-width: 1200px) {
  .container:not(.is-fluid), body .site .content-area:not(.is-fluid) {
    width: 100%;
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1800px) {
  .container:not(.is-fluid), body .site .content-area:not(.is-fluid) {
    width: 100%;
    max-width: 1400px;
  }
}

.container-sm {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .container-sm {
    max-width: 570px;
  }
}

@media only screen and (min-width: 900px) {
  .container-sm {
    max-width: 860px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-sm {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1800px) {
  .container-sm {
    max-width: 1400px;
  }
}

.container-md {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .container-md {
    max-width: 860px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-md {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1800px) {
  .container-md {
    max-width: 1400px;
  }
}

.container-lg {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .container-lg {
    max-width: 1150px;
  }
}

@media only screen and (min-width: 1800px) {
  .container-lg {
    max-width: 1400px;
  }
}

.container-xl {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

@media only screen and (min-width: 1800px) {
  .container-xl {
    max-width: 1400px;
  }
}

.half-grid {
  position: relative;
}

.half-grid__inner-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 11;
}

@media (min-width: 62em) {
  .half-grid__inner-grid {
    width: 50%;
  }
}

.half-grid__inner-grid .content {
  padding: 0;
  margin-top: -3rem;
}

@media (min-width: 62em) {
  .half-grid__inner-grid .content {
    margin-top: 4rem;
  }
}

.half-grid__inner-grid .content img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 62em) {
  .half-grid .half-grid__inner-grid img, .half-grid .half-grid__outer-grid {
    min-height: 30rem;
  }
}

.half-grid__outer-grid {
  padding: 2rem;
  z-index: 1;
}

@media (min-width: 62em) {
  .half-grid__outer-grid {
    top: 0;
    left: 50%;
    right: 0;
    padding: 4rem 4rem 4rem 7rem;
    width: 56%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-left: -3rem;
  }
}

@media (min-width: 48em) {
  .half-grid__outer-grid {
    position: absolute;
  }
}

.half-grid__outer-grid:before {
  content: url("./../../images/assets/preambule-gimik.svg");
  -webkit-transform: scaleX(1) rotate(349deg);
          transform: scaleX(1) rotate(349deg);
  position: absolute;
  left: 80%;
  width: 8rem;
}

@media (min-width: 62em) {
  .half-grid__outer-grid:before {
    left: 84.5%;
  }
}

.half-grid__outer-grid h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 62em) {
  .half-grid__outer-grid h3 {
    font-size: 2.5rem;
  }
}

.half-grid__outer-grid p {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.half-grid__outer-grid h3, .half-grid__outer-grid p {
  max-width: 80%;
}

@media (min-width: 100em) {
  .half-grid__outer-grid h3, .half-grid__outer-grid p {
    max-width: 60%;
  }
}

.half-grid__outer-grid a {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media (min-width: 62em) {
  .half-grid__outer-grid a {
    margin-bottom: 0;
  }
}

.half-grid--reverse {
  margin: 7rem 0 2rem 0;
}

@media (min-width: 62em) {
  .half-grid--reverse {
    margin: 5rem 0 2rem 0;
  }
}

@media (min-width: 62em) {
  .half-grid--reverse .container, .half-grid--reverse body .site .content-area, body .site .half-grid--reverse .content-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.half-grid--reverse .half-grid__inner-grid .content {
  margin-top: 0;
  margin-bottom: -3rem;
}

@media (min-width: 62em) {
  .half-grid--reverse .half-grid__inner-grid .content {
    margin-top: -3rem;
    margin-bottom: 0;
  }
}

@media (min-width: 62em) {
  .half-grid--reverse .half-grid__inner-grid, .half-grid--reverse .half-grid__outer-grid {
    width: 50%;
  }
}

.half-grid--reverse .half-grid__outer-grid {
  left: 3rem;
  padding: 5rem 0 4rem 6rem;
  max-width: 100%;
  margin-left: 0;
  background-color: none;
}

.half-grid--reverse .half-grid__outer-grid:before {
  left: -5rem;
  -webkit-transform: scaleX(-1) rotate(349deg);
          transform: scaleX(-1) rotate(349deg);
}

.half-grid--reverse .half-grid__outer-grid h3 {
  max-width: unset;
  line-height: 2.5rem;
  color: #000000;
}

@media (min-width: 62em) {
  .half-grid--reverse .half-grid__outer-grid h3 {
    max-width: 80%;
    line-height: 3rem;
  }
}

.half-grid--reverse .half-grid__outer-grid p {
  color: #000000;
}

.half-grid--reverse .half-grid__outer-grid:after {
  content: "";
  background-color: #FCCB66;
  width: 200%;
  height: 100%;
  position: absolute;
  right: 47%;
  bottom: 0%;
  z-index: -1;
}

.half-grid--reverse .half-grid__outer-grid.pink:after {
  background-color: #F5824F;
}

.half-grid--reverse .half-grid__outer-grid.gray:after {
  background-color: #DDD4D4;
}

.half-grid--reverse .half-grid__outer-grid.black:after {
  background-color: #000000;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-slide {
  margin: 0 1.5rem;
  width: 25rem;
  height: 15rem;
}

@media (min-width: 62em) {
  .slick-slide {
    margin: 0 0 0 1.5rem;
  }
}

.slick-slide div {
  height: 100%;
}

.slick-slide div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.slicknav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 62em) {
  .slicknav {
    display: initial;
  }
}

.slicknav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40.625rem;
  margin-top: 2rem;
}

.slicknav__item {
  display: block;
  width: 3.875rem;
  height: 3.875rem;
  line-height: 3.875rem;
  border-radius: 100%;
  border: 2px solid white;
  position: relative;
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.slicknav__item i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.25rem;
  position: relative;
  z-index: 3;
  margin-top: 1.3125rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slicknav__item.prev i {
  margin-right: 0.125rem;
}

.slicknav__item.next i {
  margin-left: 0.125rem;
}

.slicknav__item:hover {
  cursor: pointer;
}

.slicknav__item:hover i {
  color: white;
}

.slicknav__item .timer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #000000), color-stop(50%, #FCCB66));
  background: linear-gradient(90deg, #000000 50%, #FCCB66 50%);
  -webkit-animation-name: timer;
          animation-name: timer;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  -webkit-animation-timing-function: steps(200, start);
          animation-timing-function: steps(200, start);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slicknav__item .timer:after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  left: 0.1875rem;
  top: 0.1875rem;
  border-radius: 100%;
  background: black;
}

.slicknav__item .mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  -webkit-animation-name: mask;
          animation-name: mask;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  -webkit-animation-timing-function: steps(100, start);
          animation-timing-function: steps(100, start);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.pause {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.product:hover .mask, .product:hover .timer {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

@-webkit-keyframes timer {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes timer {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes mask {
  0% {
    background: #FCCB66;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  49.99% {
    background: #FCCB66;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50% {
    background: #000000;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    background: #000000;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes mask {
  0% {
    background: #FCCB66;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  49.99% {
    background: #FCCB66;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  50% {
    background: #000000;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    background: #000000;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.woocommerce-billing-fields {
  font-family: azo-sans-web, serif;
}

.woocommerce-billing-fields .form-row label {
  color: #FCCB66;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.woocommerce-billing-fields .form-row input {
  border-radius: 0.188rem;
  background-color: fade(#000000, 10%);
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.75rem;
}

.product-list {
  margin: 0 auto 0 auto;
  padding-left: 0;
  list-style-type: none;
}

@media (min-width: 62em) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product-list.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.product-list .slick-arrow {
  z-index: 11;
}

.product-list .slick-arrow:before {
  color: black;
  opacity: 1;
}

.product-list .slick-prev {
  left: 5rem;
}

.product-list .slick-next {
  right: 5rem;
}

.product-list .slick-dots {
  top: 26.25rem;
}

.product-link {
  text-decoration: none;
  color: #000000;
}

.product-list .product-card {
  padding-bottom: 0.625rem;
  outline: none;
}

@media (min-width: 62em) {
  .product-list .product-card {
    width: 21.875rem;
  }
}

.product-list .product-card__container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 1.25rem;
}

@media (min-width: 62em) {
  .product-list .product-card__container {
    width: 21.875rem;
  }
}

.product-list .product-card__wrapper {
  padding: 1.25rem 1.25rem 1.25rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 19.6rem;
}

.product-list .product-card__infos {
  width: 70%;
}

.product-list .product-card__date {
  font-family: ivypresto-text, serif;
  font-size: 2.8125rem;
  font-style: italic;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.product-list .product-card__date + .product-card__title {
  margin-top: 0.5rem;
}

.product-list .product-card__date + .product-card__title + .product-card__title + .price {
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}

.product-list .product-card__title {
  font-size: 1.65rem;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-bottom: 0;
  color: #000000;
  line-height: 2rem;
}

.product-list .product-card__title + h4 {
  font-style: italic;
  margin-top: 0;
  color: #000000;
}

.product-list .product-card .price {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.product-list .product-card__composition {
  font-family: azo-sans-web, sans-serif;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  color: #000000;
}

.product-list .product-card__image {
  width: 30%;
  margin-bottom: -15%;
}

.product-list .product-card__image img {
  width: 100%;
  position: relative;
  top: 10%;
}

.product-list .product-card.dark {
  color: white;
}

.footer {
  background-color: #000000;
}

.footer a {
  color: #C7C7C7;
  text-decoration: none;
}

.footer a:hover {
  color: #FCCB66;
  text-decoration: none;
}

.footer__content li, .footer__content p {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9375rem;
  color: #C7C7C7;
}

.footer__infos {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  width: 100%;
}

@media (min-width: 62em) {
  .footer__infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 62em) {
  .footer__infos section {
    max-width: 12.5rem;
  }
}

.footer__infos section h3 {
  margin-top: 4rem;
  margin-bottom: 0;
  color: white;
}

@media (min-width: 62em) {
  .footer__infos section h3 {
    margin-top: 1.125rem;
  }
}

.footer__infos section ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 0;
}

@media (min-width: 62em) {
  .footer__infos section ul {
    margin-top: 4.0625rem;
  }
}

@media (min-width: 62em) {
  .footer__infos section ul li {
    margin-top: 1.5625rem;
  }
}

@media (min-width: 62em) {
  .footer__infos section .navigation__list {
    margin-top: 4.9375rem;
  }
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.625rem;
}

.footer__copyright p {
  opacity: 0.5;
  font-size: 0.8125rem;
}

.social-list__link {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-list__link i {
  font-size: 1.125rem;
  margin-right: 0.625rem;
  position: relative;
  top: 4px;
}
/*# sourceMappingURL=theme.css.map */