#wrapper-navbar {
	padding-top: 3rem;
}

.navbar-toggler {
	display: none;
}

.brand {
	&__container {
		height: 6rem;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	&__link {
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		
		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
	
	&__logo {
		height: 100%;
	}
	
	&__title {
		margin-left: 2rem;
		height: 6rem;
		position: relative;
    	top: -2rem;

		&--white {
			color: $white;
		}
	}
}

.nav {
	&bar {
		.container {
			display: flex;

			div {
				margin-left: auto;

				ul {
					display: flex;
					height: 6rem;
					list-style: none;
					align-items: center;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	&-item {
		margin-left: 2rem;

		.nav-link:before {
			width: 1.8rem;
			height: 1.8rem;
			display: inline-flex;
		}
	}

	&-link {
		color: $black;
		font-family: azo-sans-web, sans-serif;
		font-size: 1.8rem;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			color: $black;
		}
	}
}

#menu-item-29, #menu-item-30 {
	background-size: contain;
	background-repeat: no-repeat;
	width: 18px;
    height: 18px;
}

#menu-item-29 {
	background-image: url("./../images/facebook_logo.svg");
}

#menu-item-30 {
	background-image: url("./../images/instagram_logo.svg");
}

#menu-item-29 .nav-link, #menu-item-30 .nav-link {
	color: transparent;
}