h2 {
    font-family: ivypresto-headline, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6.2rem;
    line-height: 7.5rem;
    color: $black;

    span {
        color: $yellow-darker;
    }
}